<h1 *ngIf="!isChange" mat-dialog-title>Criar Elemento</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Elemento</h1>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Posição</mat-label>
    <input matInput [(ngModel)]="data.position">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Peso</mat-label>
    <input matInput [(ngModel)]="data.weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Simbolo</mat-label>
    <input matInput [(ngModel)]="data.symbol">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button *ngIf="!isChange" [mat-dialog-close]="data" cdkFocusInitial>Criar Novo</button>
  <button mat-button *ngIf="isChange" [mat-dialog-close]="data" cdkFocusInitial>Editar Novo</button>

  <button mat-button (click)="onCancel()">Cancela</button>
</div>
